@font-face {
  font-family: ErrorStencil;
  font-style: normal;
  font-weight: 400;
  src: url('font/errorstencil.woff') format('woff');
}
@font-face {
  font-family: FiraMonoRegular;
  font-style: normal;
  font-weight: 400;
  src: url('font/firamono-regular.woff') format('woff');
}
